@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200,400,600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("snow.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
